{{>header}}
<h1>{{title}}</h1>

<ul>
  {{#each users}}
    <li>firstName: {{this.firstName}}, userName: {{this.userName}}, email: {{this.email}}</li>
    {{/each}} 
</ul>

    {{!-- <img src="https://www.ivory.co.il/files/catalog/org/1706174584l84Is.webp" alt="computer" /> --}}

{{>footer}}