
.top-nav ul{
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    gap:10;
}
.top-nav{
    display: flex;
    justify-content: center;
}

.top-nav ul li a{
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    background-color: black;
    color:white;
    padding:7px 10px;
}
.top-nav ul li  a{
 margin:0 7px;
 text-decoration: none;
}

.page-404{
    background-color: gold;
    text-align: center;
}
.page-404 h1{
    font-size: 4rem;
}
.page-404 a{
    font-size: 2rem;
}