{{>header}}
<h1>{{title}}</h1>

{{!-- <ul>
  {{#each users}}
    <li>firstName: {{this.firstName}}, userName: {{this.userName}}, email: {{this.email}}</li>
    {{/each}} 
</ul> --}}
<div>All Products</div>



{{>footer}}